{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de gastos</title>
</head>
<body>
    <h1>Finance</h1>
    <h2> Seu registro, nossas contas!</h2>
    <div>
        
        <ul>
        {% for t in transacoes %}
            
            <li>{{ t.descricao }} - <b>R$</b>{{ t.valor }} - {{ t.categoria }}</li>
            <p>---------------------------------------------------------</p>
            
        {% endfor %}
        </ul>
        <button><a href="{% url 'nova' %}">Nova transação</a></button>
    </div>
</body>
</html>